body {
  --color-red: #f44336;
  --color-green: #1bca1b;
  --color-blue: #0a85ff;
  --color-white-transparent: rgba(255, 255, 255, 0.1);
  --color-navy: rgba(52, 52, 66, 0.8);
  --color-navy-deep: rgb(40, 40, 51);
  --color-navy-light: rgba(52, 52, 66, 0.4);
}
